:root {
    --spotify-green: #1DB954;
    --bg-black: #121212;
    --grey: #181818;
    --text-white: #FFFFFF;

    --main-font: 'Inter', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-black);
    color: var(--text-white);
    font-family: var(--main-font);
    line-height: 1.6;
}

img{
    max-width:100%;
}
